<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
   
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.jpg" alt="avatar logo" style="width: 60px; height:30px" class="rounded-fill">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Templete/menu.html">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Templete/reservation.html">Reservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about us.html">About US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>
           

        </ul>
        <a href="online order.html" class="btn btn-brand">Order online</a>
    </div>
    </nav>
  <div class="container">
  
    <div class="row gy-4 align-items-center">
      <div class="col-6">
        <img src="/images/aboutus.jpg" alt="">
      </div>
      <div class="col-6">
        <h1>About us</h1>
        <div class="divder my-4"></div>
        <p class="text-danger">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil voluptas officiis reprehenderit debitis eligendi, tenetur numquam asperiores rerum dolore, maxime delectus molestias ratione facilis sed a perspiciatis excepturi hic temporibus!</p>
        <p class="text-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, delectus impedit optio ut velit mollitia debitis, necessitatibus error autem suscipit minus laboriosam fugiat iste neque nemo laudantium vitae amet molestiae!</p>
        <a href="menu.html" class="btn btn-brand">Explore Menu</a>
      </div>
    </div>
    </div>
   

   <footer class="footer bg-light">
    <div class="container my-4">
      <div class="row">
        <div class="col-md-4">
          <h4>About Us</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at augue risus.</p>
        </div>
        <div class="col-md-4">
          <h4>Contact Information</h4>
          <p>123 Main Street, City, State</p>
          <p>Phone: (123) 456-7890</p>
          <p>Email: info@example.com</p>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="ri-facebook-fill"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="ri-twitter-fill"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="ri-instagram-fill"></i></a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p class="text-center">© 2023 Restaurant Name. All rights reserved.</p>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>