<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/practice.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>

<div class="products" id="products">
  <h1 class="heading">Customers<span>Review</span></h1>
 <div class="swiper product-slider">
  <div class="swiper-wrapper">
  <div class="swiper-slide box">
    <img src="/images/irenabout.jpg">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptatibus voluptate odio iusto animi ducimus autem ab, iure, ad eligendi maiores blanditiis. Culpa atque corrupti reprehenderit! Ducimus minima laborum in.</h3>
    <h1>John Doe</h1>
    
    <div class="stars">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    
    </div>
  </div>
  <div class="swiper-slide box">
    <img src="/images/avatar-2.jpg">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptatibus voluptate odio iusto animi ducimus autem ab, iure, ad eligendi maiores blanditiis. Culpa atque corrupti reprehenderit! Ducimus minima laborum in.</h3>
    <h1>John Doe</h1>
  
    <div class="stars">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    
    </div>
  </div>
  <div class="swiper-slide box">
    <img src="/images/luo.jpg">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptatibus voluptate odio iusto animi ducimus autem ab, iure, ad eligendi maiores blanditiis. Culpa atque corrupti reprehenderit! Ducimus minima laborum in.</h3>
    <h1>John Doe</h1>
  
    <div class="stars">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>

    
    </div>
  </div>
  <div class="swiper-slide box">
    <img src="/images/iren.png">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptatibus voluptate odio iusto animi ducimus autem ab, iure, ad eligendi maiores blanditiis. Culpa atque corrupti reprehenderit! Ducimus minima laborum in.</h3>
    <h1>John Doe</h1>
    <div class="stars">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    
    </div>
  
  </div>
  <div class="swiper-slide box">
    <img src="/images/review.jpg">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptatibus voluptate odio iusto animi ducimus autem ab, iure, ad eligendi maiores blanditiis. Culpa atque corrupti reprehenderit! Ducimus minima laborum in.</h3>
    <h1>John Doe</h1>
    
    <div class="stars">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    
    </div>
  </div>
 </div>



 </div>
</div>  
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> 
<script src="/js/del.js"  ></script>
</body>




</html>