<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Page</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
<body>
  <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.jpg" alt="avatar logo" style="width: 60px; height:30px" class="rounded-fill">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="menu.html">Menu</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="reservation.html">Reservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about us.html">About US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="blog.html">Blog</a>
            </li>
         

        </ul>
        <a href="/Templete/online order.html" class="btn btn-brand">Order online</a>
    </div>
</nav>
  <div class="menupage">
  <div id="menu">
    <h1 id="section">Explore our Menu</h1>
    <div id="menu_row">
        <div id="menu_col">
            <h2>Breakfast</h2>
            <div class="box">
                <div id="image">
                    <img src="/images/poached egg with french toast.jpg">
                </div>
                <div>
                    <h3>poached egg with french toast </h3>
                    <a href="#demo" data-bs-toggle="collapse">Ingredients</a>
                    <div id="demo" class="collapse">
                        <ul class="list-unstyled">
                            <li>Egg</li>
                            <li>vanila</li>
                            <li>Bread</li>
                        </ul>
                    </div>
                    <h4>Tk. 250</h4>
                </div>
            </div>
            <div class="box">
                <div id="image">
                    <img src="/images/roti with subbji.jpg">
                </div>
                <div>
                    <h3>Roti with subji</h3>
                    <a href="#1" data-bs-toggle="collapse">Ingredients</a>
                    <div id="1" class="collapse">
                        <ul class="list-unstyled">
                            <li>All purpose flour</li>
                            <li>potato</li>
                            <li>Eggplant</li>
                        </ul>
                    </div>
                    <h4>Tk. 300</h4>
                </div>
            </div>
            <div class="box">
                <div id="image">
                    <img src="/images/Extra butterie alo parata with curd and mint on top.jpg">
                </div>
                <div>
                    <h3>Extra Buttery Alo paratta with curd and mint on the top</h3>
                    <a href="#2" data-bs-toggle="collapse">Ingredients</a>
                    <div id="2" class="collapse">
                        <ul class="list-unstyled">
                            <li>potato</li>
                            <li>Butter</li>
                            <li>curd</li>
                            <li>Mint</li>
                            <li>special masala</li>
                        </ul>
                    </div>
                    <h4>Tk. 150</h4>
                </div>
            </div>
            
        </div>
        <div id="menu_col">
            <h2>Lunch</h2>
            <div class="box">
                <div id="image">
                    <img src="/images/chicken Biryani.jpg">
                </div>
                <div>
                    <h3>Chicken Biryani</h3>
                    <a href="#3" data-bs-toggle="collapse">Ingredients</a>
                    <div id="3" class="collapse">
                        <ul class="list-unstyled">
                            <li>chicken</li>
                            <li>Basmoti Rice</li>
                            <li>Almond</li>
                            <li>Biryani special species</li>
                        </ul>
                    </div>
                    <h4>Tk. 450</h4>
                </div>
            </div>
            <div class="box">
                <div id="image">
                    <img src="/images/chicken sew with herbs.jpg">
                </div>
                <div>
                    <h3>Chicken stew with herbs</h3>
                    <a href="#4" data-bs-toggle="collapse">Ingredients</a>
                    <div id="4" class="collapse">
                        <ul class="list-unstyled">
                            <li>chicken</li>
                            <li>rosemary</li>
                            <li>butter</li>
                        </ul>
                    </div>
                    <h4>Tk. 600</h4>
                </div>
            </div>
            <div class="box">
                <div id="image">
                    <img src="/images/chicken curry.jpg">
                </div>
                <div>
                    <h3>Chicken curry </h3>
                    <a href="#5" data-bs-toggle="collapse">Ingredients</a>
                    <div id="5" class="collapse">
                        <ul class="list-unstyled">
                            <li>Chicken</li>
                            <li>lenthle</li>
                            <li>turmeric</li>
                        </ul>
                    </div>
                    <h4>Tk. 700</h4>
                </div>
            </div>
            
        </div>
        <div id="menu_col">
            <h2>Dinner</h2>
            <div class="box">
                <div id="image">
                    <img src="/images/homely food.jpg">
                </div>
                <div>
                    <h3>combo 1. with Rice ,lentle</h3>
                    <a href="#6" data-bs-toggle="collapse">Ingredients</a>
                    <div id="6" class="collapse">
                        <ul class="list-unstyled">
                            <li>All purpose flour</li>
                            <li>lentle</li>
                            <li>potato</li>
                        </ul>
                    </div>
                    <h4>Tk. 850</h4>
                </div>
            </div>
            <div class="box">
                <div id="image">
                    <img src="/images/grilled chicken.jpg">
                </div>
                <div>
                    <h3>Barbecue chicken with sweet and spicy souce</h3>

                   <a href="#7" data-bs-toggle="collapse">Ingredients</a>
                    <div id="7" class="collapse">
                        <ul class="list-unstyled">
                            <li>chicken</li>
                            <li>soya souce</li>
                            <li>honey</li>
                        </ul>
                    </div> <h4>Tk. 900</h4>
                </div>
            </div>
            <div class="box">
                <div id="image">
                    <img src="/images/whole smoked fish with sides.jpg">
                </div>
                <div>
                    <h3>whole smoked fish with fried Eggplant on the sides</h3>
                    <a href="#8" data-bs-toggle="collapse">Ingredients</a>
                    <div id="8" class="collapse">
                        <ul class="list-unstyled">
                            <li>Rui fish</li>
                            <li>Eggplant</li>
                            <li>pointed gourd</li>
                        </ul>
                    </div>
                    <h4>Tk. 1000</h4>
                </div>
            </div>
            
        </div>
    </div>
</div>
</div>
<footer class="footer bg-light">
<div class="container my-4">
  <div class="row">
    <div class="col-md-4">
      <h4>About Us</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at augue risus.</p>
    </div>
    <div class="col-md-4">
      <h4>Contact Information</h4>
      <p>123 Main Street, City, State</p>
      <p>Phone: (123) 456-7890</p>
      <p>Email: info@example.com</p>
    </div>
    <div class="col-md-4">
      <h4>Follow Us</h4>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#"><i class="ri-facebook-fill"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="ri-twitter-fill"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="ri-instagram-fill"></i></a></li>
      </ul>
    </div>
  </div>
  <hr>
  <p class="text-center">© 2023 Restaurant Name. All rights reserved.</p>
</div>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>  
</body>

</html>